<%- include("partials/header") %>

    <!-- Header-->

    <section class="header">
        <div class="header-img">
            <div class="header-text">
                <div class="header-content">
                    <div class="header-tagline">
                        <p>FIND THE BEST RESOURCES<br>ALL AT ONE PLACE</p>
                    </div>
                    <div class="header-buttons">
                        <a href="#books-locate" class="btn btn-light">Books</a>
                        <a href="#" class="btn btn-light">Exams</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#f6f5f5" fill-opacity="1"
                    d="M0,224L80,213.3C160,203,320,181,480,154.7C640,128,800,96,960,90.7C1120,85,1280,107,1360,117.3L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
                </path>
            </svg>
        </div>
    </section>



    <!-- CATEGORIES -->

    <section class="container category">
        <div class="categories-heading">
            <hr>
            <h2 id=books-locate>CATEGORIES</h2>
            <hr>
        </div>
        <div class="container-boxes row">
            <a href="/jee-mains">
                <div class="box col">
                    <img src="https://i1.wp.com/satyawaadi.com/wp-satya/uploads/2020/12/jee-mains-2021-four-times.png?fit=1200%2C675&ssl=1"
                        alt="">
                    <br>
                    <h5>JEE MAINS</h5>

                </div>
            </a>
            <a href="/gate-categories">
                <div class="box col">
                    <img src="https://i1.wp.com/topgovjobs.com/wp-content/uploads/2020/06/%E0%A4%97%E0%A5%87%E0%A4%9F-2021-%E0%A4%95%E0%A4%82%E0%A4%A1%E0%A4%95%E0%A5%8D%E0%A4%9F%E0%A4%BF%E0%A4%82%E0%A4%97-%E0%A4%AC%E0%A5%89%E0%A4%A1%E0%A5%80-IIT-%E0%A4%AC%E0%A5%89%E0%A4%AE%E0%A5%8D%E0%A4%AC%E0%A5%87.jpg?fit=1200%2C675&ssl=1"
                        alt="">
                    <br>
                    <h5>GATE</h5>

                </div>
            </a>
            <a href="/cat">
                <div class="box col">
                    <img src="https://pathfinderforme.com/wp-content/uploads/2021/02/CAT-EXAM-2021.jpg" alt="">
                    <br>
                    <h5>CAT</h5>

                </div>
            </a>
            <a href="/clat">
                <div class="box col">
                    <img src="https://gumlet.assettype.com/barandbench/2020-11/b2cccb4c-de02-4ba2-aac5-e008be504666/clat_2021.jpg?w=1200&h=750&auto=format%2Ccompress&fit=max"
                        alt="">
                    <br>
                    <h5>CLAT</h5>

                </div>
            </a>
            <a href="/neet">
                <div class="box col">
                    <img src="https://www.fresherslive.com/assets-images/education/origin/2020/11/26/neet.jpg" alt="">
                    <br>
                    <h5>NEET</h5>

                </div>
            </a>
            <a href="/nda">
                <div class="box col">
                    <img src="https://i2.wp.com/cdn1.aglasem.com/career/wp-content/uploads/2020/10/NDA-2021-1.jpg?fit=1200%2C675&ssl=1"
                        alt="">
                    <br>
                    <h5>NDA</h5>

                </div>
            </a>
    </section>


    <!-- ABOUT-->

    <section class="container service__container">
        <div class="service-heading">
            <hr>
            <h2>Why Us?</h2>
            <hr>
        </div>
        <div class="inner_service row">
            <div class="cont col-xs-12 col-md-6 col-lg-6 col-xl-3 m-4 m-sm-2 m-md-0">
                <img src="./images/undraw_Personal_notebook_re_d7dc.svg" alt="s1" id="s1" width="140" height="140">
                <h5>TOPPERS' NOTES</h5>
                <!-- <p>Lorem ipsum dolor, sit <br> amet consectetur adipisicing elit.</p> -->
            </div>
            <div class="cont col-xs-12 col-md-6 col-lg-6 col-xl-3 m-4 m-sm-2 m-md-0">
                <img src="./images/books.svg" alt="s2" id="s2" width="140" height="140">
                <h5>BEST RESOURCES</h5>
                <!-- <p>Lorem ipsum dolor, sit <br> amet consectetur adipisicing elit.</p> -->
            </div>
            <div class="cont col-xs-12 col-md-6 col-lg-6 col-xl-3 m-4 m-sm-2 m-md-0">
                <img src="./images/reviews.svg" alt="s3" id="s3" width="140" height="140">
                <h5>UNBIASED REVIEWS</h5>
                <!-- <p>Lorem ipsum dolor, sit <br> amet consectetur adipisicing elit.</p> -->
            </div>
            <div class="cont col-xs-12 col-md-6 col-lg-6 col-xl-3 m-4 m-sm-2 m-md-0">
                <img src="./images/IT Support_Flatline.svg" alt="s4" id="s4" width="140" height="140">
                <h5>EXTENSIVE SUPPORT</h5>
                <!-- <p>Lorem ipsum dolor, sit  <br amet consectetur adipisicing elit.</p> -->
            </div>
        </div>


        <!-- Counter-->

        <div class="page-wrapper">
            <section class="one">
                <div class="container">
                    <div class="service-heading">
                        <hr>
                        <h2>Our Statistics</h2>
                        <hr>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="single">
                                <div class="inner">
                                    <h3 class="count counter counter-1">1000</h3>
                                    <p class="text">Books</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="single">
                                <div class="inner">
                                    <h3 class="count counter counter-2">700</h3>
                                    <p class="text">Users</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="single">
                                <div class="inner">
                                    <h3 class="count counter counter-3">400</h3>
                                    <p class="text">Books Delievered</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="single">
                                <div class="inner">
                                    <h3 class="count counter counter-4">522</h3>
                                    <p class="text">Students Helped </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

    <!-- // Counter -->

    <script>
        const counter1 = document.querySelectorAll(".counter-1");
        const counter2 = document.querySelectorAll(".counter-2");
        const counter3 = document.querySelectorAll(".counter-3");
        const counter4 = document.querySelectorAll(".counter-4");

        for (let i = 0; i < counter1.length; i++) {
            let count = 1; setInterval(() => {
                if (count < 1000)
                    count++; counter1[i].innerText = count;
            }, 1);
        }

        for (let i = 0; i < counter2.length; i++) {
            let count = 1; setInterval(() => {
                if (count < 700)
                    count++; counter2[i].innerText = count;
            }, 1);
        }

        for (let i = 0; i < counter3.length; i++) {
            let count = 1; setInterval(() => {
                if (count < 400)
                    count++; counter3[i].innerText = count;
            }, 1);
        }

        for (let i = 0; i < counter4.length; i++) {
            let count = 1; setInterval(() => {
                if (count < 522)
                    count++; counter4[i].innerText = count;
            }, 1);
        }
    </script>
    <br>
    <br>
    <%- include("partials/footer") %>