<!doctype html>
<html lang="en">

  <head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"   href="../stylesheets/bootstrap.min.css">	
    <link rel="stylesheet"   href="../stylesheets/about_us.css">
    <link rel="stylesheet"   href="../stylesheets/comp.css"  type="text/css">
  </head>
  <body onload="myFunction()">

    <!-- Preloader-->
    
    <div id="loading"><img src="../images/page-loader.gif"></div>

<!-- NAVBAR-->

<nav class="navbar-fixed-top colored-nav" >

  <input id="nav-toggle" type="checkbox">
  <div class="logo"><a href="/">EverGreen Educado</a></div>
  <ul class="navlinks">
      <li> <a href="/"> HOME </a> </li>
      <li> <a href="/#books-locate"> BOOKS </a> </li>
      <li> <a href="#"> FUN </a> </li>
      <li> <a href="/about-us"> ABOUT </a> </li>
      <li> <a href="/contact-us"> CONTACT </a> </li>
  </ul>
  <label for="nav-toggle" class="icon-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
  </label>

</nav>

<br>
<br>
<br>    
 <!-- About Us-->
 
 
    <div class="site-section">
      <div class="container">
       <div class="space-about">
          <div class="col-md-6">
            <img src="../images/Team.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="about-space">
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">About Us</span>
            <h3 class="text-black">Teamwork is able to achieve everything.</h3>
            <p><span>Here, we wish to provide the best and user-friendly resources from our side. We wish you like it. Our goal is to 
              provide the best books all at one place. </span></p>

            
        </div>  
        </div>
      </div>
    </div>
    </div>
  

    <div class="site-section bg-teal">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <span class="text-cursive h5 text-red">The Team</span>
            <h3 class="text-white text-center">Meet The Team</h3>
        </div>
        

        <div class="row align-items-stretch">    
          
          <div class="col-lg-6 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1 blue">
              
                <img src="../images/anushka.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Founder</span>
                <h2>Anushka Srivastava</h2>
                <div class="footer_socialicons">
                  <ul>
                    <li><a href="mailto:srivastavaanushka3@gmail.com"><i class="fa fa-google"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/anushka-srivastava-0b08b61b1/"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
        
            <div class="col-lg-6 col-md-6 mb-5">
              <div class="post-entry-1 h-100 person-1 blue">
                
                  <img src="../images/sanskriti.jpg" alt="Image"
                   class="img-fluid">
              
                <div class="post-entry-1-contents">
                  <span class="meta">Founder</span>
                  <h2>Sanskriti Khatiyan</h2>
                  <div class="footer_socialicons">
                    <ul>
                      <li><a href="mailto:khatiyan.sanskriti@gmail.com"><i class="fa fa-google"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/sanskriti-khatiyan-54aa361a6/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                </div>
              </div>
            </div>
        

            
          
          </div>
        </div>

          
        <div class="row align-items-stretch">
          <div class="col-lg-6 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1 blue">
              
                <img src="../images/Arjun.png" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Founder</span>
                <h2>Arjun Singh Rajput</h2>
                <div class="footer_socialicons">
                  <ul>
                      <li><a href="mailto:rajputarjun1708@gmail.com"><i class="fa fa-google"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/arjun-singh-rajput-a16959141/"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
	  
	  <div class="col-lg-6 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1 blue">
              
                <img src="../images/Tanuja.png"  alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Founder</span>
                <h2>Tanuja Tiwari</h2>
                <div class="footer_socialicons">
                  <ul>
                      <li><a href="mailto:tanujatiwari04@gmail.com"><i class="fa fa-google"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/tanujatiwari/"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
              </div>
            </div>

         
    
        </div>

        
      </div>
    </div>
	</div>





  

	<%- include("../partials/footer") %>
